@charset "UTF-8";
body {
    min-width: 1380px;
}
body, code {
    font-size: 0.75em;
    font-family: 'Noto Sans','Nanum Gothic',Arial,sans-serif;
    line-height: 1.8;
    color: #888;
    -webkit-text-size-adjust: 100%; 
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
img, fieldset {
    border: none;
    vertical-align: top;
}
li {
    list-style: none;
}
input, select, textarea {
    font-size: 100%;
    color: #000;
    vertical-align: middle;
}
legend {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    line-height: 0;
}
button {
    overflow: visible;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
}
table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
caption {
    display: none;
}
th, td {
    border: 0;
    vertical-align: top;
}
select {
    height: 24px;
    border: 1px solid #d5d5d5;
}
h1, h3 {
    margin: 0;
}
.displaynone {
    display: none !important;
}
.mobile {
	display: none !important;
}
.web {
	display: block !important;
}
#skipNavigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 0;
}
#header {
   position: relative;
    width: 100%;
    top: 0;
    z-index: 55;
    padding: 0; 
}
#header .header_inner {
    position: relative;
    width: 100%;
    height: 75px;
    margin: 0 auto;
    *zoom: 1;
}
.smaller {
    background-color: rgba(255,255,255,1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#header .header_inner:after {
    content: "";
    display: block;
    clear: both;
}
.top_left_menu {
    position: absolute;
    left: 20px;
    top: 10px;
    text-align: left;
    padding: 0 5px;
}
.logotop {
    position: relative;
    margin-right: 35px;
    text-align: left;
    float: left;
}
.top_left_menu img {
    vertical-align: middle;
}
.logotop img {
    margin-top: 10px;
    max-height: 30px;
}
.top_left_menu ul {
    float: left;
}
.top_left_menu li {
    float: left;
}
.top_category {
}
.top_category .position {
}
.top_category .position > ul {
}
.top_category .position > ul > li {
    position: relative;
    float: left;
    padding: 15px 25px 15px 0;
    font-size: 12px;
    color: #fff;
    line-height: 1.8;
}
.full_btn {
}
.full_btn > img {
    display: block;
    width: 22px;
    padding: 2px;
    cursor: pointer;
}
.full_btn_plus {
    display: none;
}
.full_btn_plus > img {
    display: block;
    width: 22px;
    padding: 2px;
    cursor: pointer;
}
.top_category .position > ul > li > a {
}
.top_right_menu {
    position: absolute;
    right: 20px;
    top: 10px;
    text-align: left;
    padding: 0 5px;
}
.top_board {
    float: left;
    margin-right: 10px;
}
.top_right_menu .t_menu {
    position: relative;
    float: left;
    padding: 15px 0 15px 20px;
    font-size: 12px;
    color: #000;
    line-height: 1.8;
}
.top_right_menu .t_menu .t_view {
    display: none;
    position: absolute;
    top: 48px;
    left: 0px;
    width: 100px;
    margin: 0;
    padding: 10px 20px 10px;
    z-index: 99;
    background: rgba(255,255,255,1);
    border: 0px solid #ddd;
    border-top: 0;
}
.top_right_menu .t_menu .t_view .sub_sec {
    text-align: left;
    padding: 0;
    margin: 0;
    vertical-align: top;
}
.top_right_menu .t_menu .t_view .sub_sec li {
    padding: 2px 0;
}
.top_util {
    float: left;
}
.top_right_menu img {
    vertical-align: middle;
    padding: 0 0;
}
.search_btn_off {
    display: none;
}
.top_right_menu .t_menu .t_view_search {
    display: none;
    position: absolute;
    top: 48px;
    right: -20px;
    width: 200px;
    margin: 0;
    padding: 7px;
    z-index: 199;
    background: rgba(255,255,255,0);
    border: 0px solid #ddd;
    border-top: 0;
}
.xans-layout-searchheader {
    position: relative;
    width: 165px;
    padding: 6px;
    margin: 10px 10px 10px;
    border: 1px solid #ddd;
    background: rgba(255,255,255,1);
}
.xans-layout-searchheader input[type=text] {
    height: 18px;
    padding: 0;
    width: 145px;
    font-size: 12px;
    color: #000;
    background: rgba(255,255,255,0);
}
.xans-layout-searchheader input {
    border: 0;
    vertical-align: middle;
}
.inputTypeText {
    height: 19px;
    padding: 3px 0 0 9px;
    border: 1px solid #d5d5d5;
}
.full_menu {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    width: 100%;
    padding: 10px 0;
    background: rgba(255,255,255,1);
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    z-index: 99 !important;
}
.full_menu_inner {
    position: relative;
    width: 1240px;
    margin: 0 auto;
    padding: 0 0 10px;
    text-align: left;
}
.full_menu_inner ul {
    font-size: 0;
}
.full_menu_inner li {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 1%;
    font-size: 12px;
    line-height: 1.8;
    vertical-align: top;
}
.full_menu_inner li p.fm_tit {
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    margin-bottom: 10px;
}
.full_menu_inner li a {
    color: #666;
}
.full_btn_close {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}
.full_btn_close > img {
    display: block;
    padding: 0;
    cursor: pointer;
}
hr.layout {
    display: none;
}
#wrap {
    position: relative;
    width: 100%;
    margin: 0px auto 0;
}
#container {
    position: relative;
    width: 100%;
    margin: 25px auto 100px;
    *zoom: 1;
}
#contents {
    position: relative;
    width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
}
#container:after {
    content: "";
    display: block;
    clear: both;
}
.xans-product-menupackage {
    margin: 0 0;
    padding: 0;
}
.xans-product-menupackage .title {
    margin: 0;
    width: 100%;
    padding: 10px 0;
    text-align: left;
    border-top: 0px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.xans-product-menupackage .title li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.xans-product-menupackage .title li h2 {
    color: #000;
    font-size: 12px;
    font-weight: normal;
}
.xans-product-menupackage .title li h2 .ar {
    padding: 0 5px;
    font-weight: normal;
    color: #999;
    font-family: sans-serif;
}
.xans-product-detail {
    position: relative;
    margin: 0 auto;
    padding: 0 0 0px;
}
.xans-product-detail .headingArea {
    display: none;
    position: relative;
    padding: 0 0 10px;
    margin: 0;
    text-align: center;
}
.xans-product-detail .headingArea .supply {
    overflow: hidden;
    float: right;
}
.xans-product-detail .headingArea .supply span {
    padding: 0 3px 0 0;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}
.xans-product-detail .detailArea {
    padding: 0;
}
.xans-product-detail .detailArea:after {
    content: "";
    display: block;
    clear: both;
}
.xans-product-detail .imgArea {
    float: left;
    width: 50%;
    margin-top: 20px;
    margin-right: 5%;
}
.xans-product-detail .imgArea .keyImg {
    position: relative;
    float: left;
    width: calc(100% - 120px);
    margin: 0;
}
.xans-product-detail .imgArea .keyImg .thumbnail {
    display: inline-block;
    position: relative;
    width: 100%;
}
.xans-product-detail .imgArea .keyImg img {
    width: 100%;
    border: 0px solid #ececec;
}
.xans-product-detail .imgArea .listImg {
    float: left;
    width: 70px;
    margin-left: 10px;
}
.xans-product-detail .imgArea .listImg ul {
    font-size: 0;
    line-height: 0;
}
.xans-product-detail .imgArea .listImg li {
    font-size: 12px;
    line-height: 14px;
    vertical-align: top;
}
.xans-product-detail .imgArea .listImg li img {
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}
.xans-product-detail .imgArea .control {
    position: absolute;
    top: -34px;
    right: -7px;
    width: 130px;
    margin: 0;
    text-align: left;
}
.xans-product-detail .imgArea .control .next {
    float: right;
    padding: 0 7px;
}
.xans-product-detail .imgArea .control a {
    display: block;
    color: #999;
}
.xans-product-detail .imgArea .control img {
    width: 10px;
    margin: 0 2px 3px;
    vertical-align: middle;
}
.xans-product-detail .imgArea .control a img {
    opacity: 0.3;
}
.xans-product-detail .imgArea .control .prev {
    float: right;
    padding: 0 7px;
}
.xans-product-detail .imgArea .color {
    display: none;
    overflow: hidden;
    width: 100%;
    margin: 5px auto;
}
.xans-product-detail .infoArea {
    float: left;
    width: 40%;
    margin: 0;
    padding-top: 20px;
}
.xans-product-detail .likeButton {
    position: absolute;
    top: 20px;
    right: 0px;
    margin: 0;
    text-align: center;
    z-index: 2;
}
.xans-product-detail .likeButton button {
    display: inline-block;
    padding: 10px 10px;
    border: 1px solid #ccc;
    color: #666;
    text-align: right;
    background: #fff;
    font-size: 12px;
    font-weight: normal;
}
.xans-product-detail .likeButton .title {
    padding: 0;
    margin: 0 5px 0 0;
    min-width: 0;
    text-align: left;
}
.xans-product-detail .likeButton button span {
    display: inline-block;
    vertical-align: middle;
}
.xans-product-detail .infoArea table {
    border: 0;
    font-size: 12px;
    margin: 0 0 10px;
}
.xans-product-detail .infoArea td {
    padding: 4px 0;
    vertical-align: middle;
}
.xans-product-detail .infoArea .guideArea {
    position: relative;
    margin: 10px 0;
}
.xans-product-detail .infoArea .guideArea .sizeGuide {
    position: relative;
    margin: 20px 0;
    font-size: 12px;
    font-weight: bold;
}
.xans-product-detail .infoArea .sizeGuide a {
    padding: 0;
    color: #000;
    text-decoration: underline;
}
.xans-product-detail .infoArea img {
    vertical-align: middle;
}
.xans-product-detail .infoArea .xans-product-option tr:first-child th, .xans-product-detail .infoArea .xans-product-option .xans-product-fileoption th {
    padding-top: 14px;
    border-top: 1px solid #e8e8e8;
}
.xans-product-detail .infoArea .xans-product-option tr th {
    padding: 10px 0 0;
    vertical-align: top;
}
.xans-product-detail .infoArea th {
    font-weight: normal;
    color: #353535;
    width: 90px;
    padding: 4px 0;
    text-align: left;
    vertical-align: top;
}
.xans-product-detail .infoArea .xans-product-option tr:first-child td, .xans-product-detail .infoArea .xans-product-option .xans-product-fileoption td {
    padding-top: 10px;
    border-top: 1px solid #e8e8e8;
}
.xans-product-detail .infoArea .xans-product-option tr td {
    padding: 10px 0 0;
}
.xans-product-detail .infoArea select {
    width: 100%;
    height: 24px;
    font-size: 12px;
    color: #353535;
}
.xans-product-detail .infoArea .xans-product-option .value {
    word-break: break-all;
    font-size: 11px;
}
.xans-product-detail .infoArea .xans-product-option td.selectButton {
    text-align: right;
}
#totalProducts {
    margin: 0 0 10px;
}
#totalProducts table {
    margin: 0;
}
#totalProducts thead th {
    height: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    *position: absolute;
}
#totalProducts tbody tr:first-child td {
    border-top: 1px solid #ddd;
}
#totalProducts tbody tr td:first-child {
    padding-left: 4px;
}
#totalProducts tbody td {
    padding: 9px 0;
    border-top: 1px solid #ddd;
    color: #353535;
    line-height: 18px;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
}
#totalProducts tbody td .quantity {
    display: inline-block;
    position: relative;
    width: 50px;
    vertical-align: top;
}
#totalProducts tbody td .quantity input {
    width: 22px;
    height: 23px;
    padding: 0 2px 0 3px;
    line-height: 23px;
    border: 1px solid #d4d8d9;
    border-radius: 3px 0 0 3px;
}
.xans-product-detail .infoArea img {
    vertical-align: middle;
}
#totalProducts tbody td .quantity .up {
    position: absolute;
    left: 28px;
    top: 0;
}
#totalProducts tbody td .quantity .down {
    position: absolute;
    left: 28px;
    top: 12px;
}
#totalProducts table .right {
    padding-right: 9px;
    font-weight: bold;
    color: #000;
    text-align: right;
}
#totalProducts tbody td .mileage {
    display: block;
    white-space: nowrap;
}
#totalProducts tbody td img {
    vertical-align: middle;
}
#totalProducts tbody td .mileage_price {
}
#totalProducts tfoot td {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    vertical-align: middle;
    background: #fff;
    color: #000;
    text-align: left;
}
#totalProducts tfoot td .total {
}
#totalProducts tfoot td .total em {
    font-style: normal;
    font-size: 16px;
}
.xans-product-detail .infoArea .xans-product-action {
    padding: 10px 0;
    display: block;
    clear: both;
}
#totalProducts + .xans-product-action {
    margin-top: 0;
}
.b_left {
    float: left;
}
.b_full {
    width: 100%;
    font-size: 13px;
    margin: 5px 0;
}
.b_half {
    width: 50%;
    font-size: 13px;
    margin: 5px 0;
}
.btnArea .black {
    border: 1px solid #000;
    background: #000;
    color: #fff;
    padding: 8px 0;
    width: 100%;
    display: block;
    text-align: center;
}
.btnArea .white {
    border: 1px solid #ddd;
    background: #fff;
    color: #222;
    padding: 8px 0;
    width: 100%;
    display: block;
    text-align: center;
}
#NaverChk_Button {
    clear: both;
    margin: 10px 0;
    float: left;
}
.npay_storebtn_bx, .npay_button_box, .npay_button_box2, .npay_storebtn_bx *, .npay_button_box *, .npay_button_box2 * {
    display: block !important;
    overflow: hidden !important;
    float: none !important;
    position: static !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 none !important;
    font-size: 12px !important;
    line-height: 16px !important;
    font-family: '돋움',Dotum,Helvetica,sans-serif !important;
    text-align: left !important;
    text-decoration: none !important;
    vertical-align: top !important;
    background: none !important;
    border-radius: 0 !important;
}
.npay_storebtn_bx {
    display: inline-block !important;
}
.npay_type_B_2 {
    width: 261px !important;
    height: 83px !important;
}
.npay_button_box, .npay_button_box2 {
    width: auto !important;
    height: 100% !important;
    *height: auto !important;
    zoom: 1 !important;
    padding: 0 4px !important;
    border-top: 2px solid #2b2f3a !important;
    background-color: #fff !important;
}
.npay_button {
    position: relative !important;
    margin: 0 !important;
    padding: 11px 0 11px 86px !important;
    zoom: 1 !important;
}
.npay_text {
    display: block !important;
    *display: inline !important;
    position: absolute !important;
    top: 11px !important;
    left: 0 !important;
    width: 79px !important;
    height: 36px !important;
    margin: 0 !important;
    padding: 0 !important;
    background: url(../../images/button/renewal/npay_sp_text.png) no-repeat !important;
}
.npay_button_box .npay_blind, .npay_button_box .yellow, .npay_button_box .blue, .npay_button_box2 .npay_blind, .npay_button_box2 .yellow .npay_button_box2 .blue {
    overflow: hidden !important;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
}
.npay_btn_list {
    *zoom: 1 !important;
    display: table !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    table-layout: fixed !important;
    list-style: none !important;
}
.npay_btn_list tbody {
    display: table-row-group !important;
}
.npay_btn_list tr {
    display: table-row !important;
}
.npay_btn_item {
    display: table-cell !important;
    height: 37px !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important;
}
.npay_btn_item:first-child .npay_btn_link {
    margin: 0 !important;
}
.npay_btn_link {
    display: block !important;
    height: 35px !important;
    margin: 0 0 0 3px !important;
    padding: 0 !important;
    border: 1px solid #bfc4c7 !important;
    background-color: #fcfcfc !important;
    background-repeat: no-repeat !important;
    background-repeat: no-repeat !important;
    text-align: center !important;
    text-decoration: none !important;
}
.npay_btn_link.btn_green {
    border-color: #00bd39 !important;
    background-color: #00c73c !important;
    background-position: 50% -35px !important;
}
.npay_btn_link.npay_btn_pay {
    background-image: url(../../images/button/renewal/npay_sp_payment.png) !important;
    background-position: 50% 0 !important;
    background-repeat: no-repeat !important;
}
.npay_btn_item.btn_width {
    width: 40px !important;
}
.npay_btn_link.npay_btn_zzim {
    background-image: url(../../images/button/renewal/npay_sp_zzim.png) !important;
    background-position: 50% 0 !important;
    background-repeat: no-repeat !important;
}
.npay_btn_link.npay_btn_zzim, .npay_btn_link.npay_btn_talk {
    width: 35px !important;
}
.npay_event {
    position: relative !important;
    margin: 0 !important;
    padding: 0 40px 0 0 !important;
    border: 0 none !important;
    border-top: 1px solid #eaecee !important;
}
.npay_more {
    position: absolute !important;
    top: 5px !important;
    width: 16px !important;
    height: 16px !important;
    margin: 0 !important;
    padding: 0 !important;
    background: url(../../images/button/renewal/npay_sp_more.png) no-repeat !important;
    text-decoration: none !important;
}
.npay_more_prev {
    right: 15px !important;
    background-position: 0 0 !important;
}
.npay_event_text {
    display: block !important;
    *display: inline !important;
    overflow: hidden !important;
    *width: 100% !important;
    margin: 0 !important;
    padding: 5px 0 !important;
    letter-spacing: 0 !important;
    white-space: nowrap !important;
    *zoom: 1 !important;
    text-overflow: ellipsis !important;
    word-wrap: normal !important;
}
.npay_event_text .event_title {
    display: inline !important;
    margin: 0 5px 0 0 !important;
    padding: 0 !important;
    font-weight: normal !important;
    color: #00bd39 !important;
    vertical-align: middle !important;
}
.npay_event .npay_event_text .event_link {
    display: inline !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: normal !important;
    color: #727272 !important;
    text-decoration: none !important;
    vertical-align: middle !important;
}
.npay_more_next {
    right: 0 !important;
    background-position: -15px 0 !important;
}
.xans-product-detail .eventArea {
    color: #353535;
}
.xans-product-detail .eventArea .event {
    padding: 27px 10px 46px 9px;
    color: #353535;
    line-height: 18px;
}
.ec-base-tab-2 {
    position: relative;
}
.ec-base-tab-2 .menu {
    margin: 0 0 10px;
    padding: 60px 0 0;
    border-bottom: 1px solid #ddd;
}
.ec-base-tab-2 .menu:after {
    content: "";
    display: block;
    clear: both;
}
.ec-base-tab-2 .menu li {
    float: left;
    font-size: 11px;
}
.ec-base-tab-2 .menu li.selected a {
    color: #000;
}
.ec-base-tab-2 .menu li:first-child a {
    padding-left: 0;
}
.ec-base-tab-2 .menu li:last-child a {
    border-right: 0;
}
.ec-base-tab-2 .menu li a {
    display: block;
    margin: 13px 0;
    padding: 0 23px;
    border-right: 1px solid #ddd;
    color: #999;
    text-decoration: none;
    text-align: left;
}
.xans-product-additional .cont {
    padding: 20px 0;
}
.xans-product-additional .cont img {
    max-width: 1240px;
    height: auto !important;
}
.xans-product-relation .relation {
    padding: 20px 0;
    border: 0px solid #000;
    border-top: 0;
}
.xans-product-relation .relation h3 {
    padding: 0 0 20px;
    font-size: 12px;
    color: #000;
}
.swiper-container {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0px,0,0);
    -moz-transform: translate3d(0px,0,0);
    -o-transform: translate(0px,0px);
    -ms-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-container img {
    width: 100%;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 20px;
    left: 0;
    width: 100%;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: rgba(0,0,0,0.3);
    border: 0px solid #fff;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: rgba(0,0,0,1);
    border: 0px solid #fff;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
}
.xans-product-additional div.board {
    padding: 10px 0 60px;
    border: 0px solid #000;
    border-top: 0;
    margin-top: 0px;
}
.xans-product-additional div.board h3 {
    padding: 0 0 20px;
    font-size: 12px;
    color: #000;
}
.xans-product-additional div.board p.desc {
    display: none;
    padding: 0 10px 0 9px;
}
.xans-product-additional div.board p.nodata {
    padding: 40px 0;
    background: #f9f9f9;
    color: #666;
    text-align: center;
}
.xans-product-additional .board .btn {
    padding: 20px 0;
}
.b_right {
    float: right;
}
.M {
    width: 100px;
    margin: 2px;
}
.btnArea .white_s {
    border: 1px solid #ddd;
    background: #fff;
    color: #222;
    padding: 4px 0;
    width: 100%;
    display: block;
    text-align: center;
}
.btnArea .black_s {
    border: 1px solid #000;
    background: #000;
    color: #fff;
    padding: 4px 0;
    width: 100%;
    display: block;
    text-align: center;
}
.xans-product-additional .noAccess {
    margin: 15px 0 10px;
    border: 1px solid #d7d5d5;
    font-weight: bold;
    color: #008bcc;
    line-height: 39px;
    text-align: center;
}
.xans-product-additional .minor {
    margin: 15px 0 0;
    padding: 35px 0 24px;
    border: 1px solid #d7d5d5;
    font-weight: bold;
    color: #353535;
    line-height: 14px;
    text-align: center;
}
.xans-product-additional .minor p:first-child img {
    margin: -11px 8px 0 0;
    vertical-align: top;
}
.xans-product-additional .minor strong {
    color: #008bcc;
}
.xans-product-additional .minor .button {
    margin: -7px 0 0;
}
.xans-product-additional table.board {
    margin: 0;
    border-top: 1px solid #d7d5d5;
    border-bottom: 1px solid #d7d5d5;
}
.xans-product-additional table.board th {
    padding: 10px 0 10px;
    border-right: 0px solid #e3e3e3;
    background: #fbfafa;
    font-weight: normal;
    display: none;
}
.xans-product-additional table.board td {
    padding: 10px 0 10px;
    border-top: 1px solid #e3e3e3;
    border-right: 0px solid #e3e3e3;
    text-align: center;
    vertical-align: middle;
}
.xans-product-additional table.board .subject {
    padding-left: 8px;
    color: #f76560;
    text-align: left;
    word-break: break-all;
}
.xans-product-additional table.board .subject img {
    vertical-align: middle;
    margin: 0 1px;
}
.xans-product-additional table.board a, .xans-product-additional table.board a:hover {
    color: #353535;
}
.xans-product-additional table.board th:last-child, .xans-product-additional table.board td:last-child {
    border-right: none;
}
.xans-product-additional table.board .txtLess {
    color: #939393;
    font-size: 11px;
}
.ec-base-paginate {
    margin: 20px 0;
    text-align: center;
    font-size: 0;
    line-height: 0;
}
.ec-base-paginate.typeSub .first {
    margin-right: 3px;
}
.ec-base-paginate img {
    vertical-align: top;
}
.ec-base-paginate.typeSub img {
    vertical-align: middle;
}
.ec-base-paginate ol {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    *margin: 0;
}
.ec-base-paginate.typeSub ol {
    margin: 0 15px;
    vertical-align: middle;
}
.ec-base-paginate li {
    display: inline-block;
    margin: 0 0 0 -1px;
    border: 1px solid #ddd;
    font-size: 11px;
    color: #666;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}
.ec-base-paginate li:first-child {
    margin-left: 0;
}
.ec-base-paginate.typeSub li {
    font-size: 11px;
    border: 0;
}
.ec-base-paginate li a {
    display: block;
    width: 33px;
    padding: 9px 0;
    font-weight: bold;
    color: #000;
    line-height: 14px;
    background: #fff;
}
.ec-base-paginate li a.this {
    padding-bottom: 6px;
    border-bottom: 3px solid #000;
    color: #000;
}
.ec-base-paginate.typeSub li a {
    width: auto;
    margin: 0 5px 0;
    padding: 2px;
    color: #999;
    background: none;
}
.ec-base-paginate.typeSub li a.this {
    color: #000;
    font-weight: bold;
    border: 0;
}
.ec-base-paginate.typeSub .last {
    margin-left: 3px;
}
.titleArea {
    padding: 20px 0 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#quick_de {
    position: fixed;
    top: 108px;
    width: 90px;
    margin-top: 0px;
    margin-right: -730px;
    right: 50%;
    z-index: 28;
}
.xans-layout-productrecent {
    border: 1px solid #FFF;
    border-top: 0;
    text-align: center;
    background: #fff;
}
.xans-layout-productrecent h2 a {
    display: block;
    padding: 3px 0;
    font-size: 12px;
    line-height: 17px;
    font-weight: normal;
    color: #2e2e2e;
}
.xans-layout-productrecent ul {
    width: 76px;
    margin: 0 auto 10px;
}
.xans-layout-productrecent li a {
    color: #2e2e2e;
}
.xans-layout-productrecent .player {
    overflow: hidden;
    *zoom: 1;
}
.xans-layout-productrecent .player img {
    float: left;
}
hr.layout {
    display: none;
}
.gotop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 10;
}
.gotop img {
    width: 25px;
}
.gotop a img {
    opacity: 1;
}
#footer {
    position: relative;
    width: 100%;
    margin: 50px auto 50px;
    border-top: 0px solid #ddd;
    border-bottom: 0px solid #ddd;
    background: #ffffff;
}
#footer .inner2 {
    position: relative;
    width: 100%;
    margin: 30px auto 0;
    padding: 20px 0;
    background: #f5f5f5;
}
.footer_full_menu {
    position: relative;
    width: 1260px;
    margin: 0 auto;
    padding: 10px 0px;
}
.footer_full_menu_inner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 10px;
    text-align: left;
}
.footer_full_menu_inner ul {
    font-size: 0;
}
.footer_full_menu_inner li {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 1%;
    font-size: 12px;
    line-height: 1.8;
    vertical-align: top;
}
.footer_full_menu_inner li p.fm_tit {
    font-size: 12px;
    border-bottom: 1px solid #666;
    padding: 5px 0;
    margin-bottom: 10px;
}
.footer_full_menu_inner li a {
    color: #666 !important;
}
.footer_full_menu_inner li p.fm_tit a {
    font-weight: bold;
    color: #505050 !important;
}
#footer a {
    color: #888;
}
#footer .inner {
    position: relative;
    width: 1260px;
    margin: 0 auto;
    padding: 30px 0;
}
.foot_sec {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 40px 10px;
    overflow: hidden;
}
.foot_sec li {
    position: relative;
    float: left;
    font-size: 12px;
}
.foot_sec li .foot_tit {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}
.foot_sec li .foot_sns {
    position: relative;
    margin-left: 30px;
}
.foot_sec li .foot_sns img {
    height: 24px;
    margin: 0 2px;
}
.foot_sec li .foot_sns a img {
    opacity: 1;
}
.util_menu {
    position: absolute;
    bottom: -35px;
    left: 0;
}
.util_menu li {
    float: left;
    text-align: left;
    padding: 0 10px;
}
.copyright {
    position: absolute;
    bottom: -35px;
    right: 0;
    text-align: left;
    padding: 0 10px;
}
#modalBackpanel {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: #000;
}
#modalContainer {
    display: none;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 10001;
    width: 975px;
    height: 720px;
    border: 1px solid #333;
    background: #fff;
}
#modalContainer #modalContent {
    width: 100%;
    height: 100%;
}
@media (max-width: 1024px) {
	body, code {
	    min-width: 320px;
	    font-family: 'Noto Sans','Nanum Gothic',Arial,sans-serif;
	    font-size: 13px;
	    line-height: 1.8;
	    color: #666;
	    background: #fff;
	    -webkit-text-size-adjust: none;
	}
	body {
		height: 100%;
	}
	.web {
		display: none !important;
	}
	.mobile {
		display: block !important;
	}
	#wrap {
	    overflow: hidden;
	    position: relative;
	    min-height: 100%;
	    width: 100%;
	}
	#container {
		z-index: 100;
	    position: relative;
	    overflow: hidden;
	    margin-top: -1px;
	    margin-left: -1px;
	    background-color: #fff;
	    -webkit-transition: 300ms;
	    -moz-transition: 300ms;
	    -ms-transition: 300ms;
	    -o-transition: 300ms;
	    transition: 300ms;
	    -webkit-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	    backface-visibility: hidden;
	}
	#contents {
	    position: relative;
	    width: auto;
	    margin: 50px 0 0;
	    padding: 0;
	}
	#titleArea {
	    position: relative;
	    padding: 0;
	    text-align: center;
	}
	#titleArea h2 {
	    display: inline-block;
	    overflow: hidden;
	    font-size: 14px;
	    color: #000;
	    padding: 0;
	    margin: 20px 0 20px;
	    border-bottom: 1px solid #000;
	}
	#titleArea span {
	    display: none;
	    position: absolute;
	    top: 13px;
	    left: 14px;
	}
	.xans-product-menupackage {
		display: none;
	}
	.xans-product-detail .imgArea .control {
		display: none;
	}
	.xans-product-detail .imgArea {
		float: none;
		width: calc(100% - 28px);
		padding: 0 14px;
		margin: 0;
	}
	.xans-product-detail .imgArea .keyImg {
		float: none;
		width: 100%;
		height: auto;
	}
	.xans-product-detail .imgArea .listImg {
		display: none;
	}
	.xans-product-detail .infoArea {
		float: none;
	    width: calc(100% - 28px);
	    border-top: 1px solid #ddd;
	    background: #fff;
	    margin: 0 14px;
	    padding: 7px 0;
	    color: #000;
	}
	.ec-base-tab-2 .menu {
	    position: relative;
    	height: 36px;
		font-size: 13px;
	    width: calc(100% - 30px);
	    margin: 0 auto;
	}
	.ec-base-tab-2 .menu li {
		width: 25%;
	}
	.ec-base-tab-2 .menu li:nth-child(2) {
		display: none;
	}
	.ec-base-tab-2 .menu li a {
		float: left;
	    position: relative;
	    background: #fff;
	    height: 36px;
	    width: 100%;
	    padding: 0;
	    color: #666;
	    line-height: 36px;
	    text-align: center;
	    text-decoration: none;
	    border-top: 1px solid #ddd;
	    border-bottom: 1px solid #000;
	}
	.ec-base-tab-2 .menu li.selected a {
	    height: 36px;
	    margin-right: 0;
	    color: #000;
	    line-height: 36px;
	    background: rgba(255,255,255,0);
	    border-top: 1px solid #000;
	    border-right: 1px solid #000;
	    border-left: 1px solid #000;
	    border-bottom: 0;
	    z-index: 5;
	    margin-left: -1px;
	}
	.xans-product-additional .cont {
		width: calc(100% - 30px);
	    margin: 0 auto;
	    padding: 0;
	}
	.xans-product-additional .cont img {
		max-width: 100%;
	    height: auto !important;
	    padding: 0;
	    margin: 0;
	}
	#prdRelated, #prdReview, #prdQnA, #tab_02, .prd_info {
		display: none;
	}
	.xans-product-relation {
	    margin: 0;
	}
	.xans-product-relation h2 {
	    margin: 0;
	    padding: 14px 14px 0;
	    height: 43px;
	    font-size: 13px;
	    line-height: 43px;
	    color: #000;
	}
	.xans-product-relation li {
	    vertical-align: top;
	    margin: 0 0 14px;
	}
	.xans-product-relation img {
	    max-width: 100%;
	}
	.xans-product-relation > ul > li > ul {
	    display: table;
	    table-layout: fixed;
	    width: 100%;
	    font-size: 0;
	    line-height: 0;
	    box-sizing: border-box;
	    padding: 0 7px;
	}
	.xans-product-relation .grid2 li {
	    width: 50%;
	}
	.xans-product-relation > ul > li > ul > li {
	    position: relative;
	    display: inline-block;
	    padding: 0;
	    text-align: left;
	    vertical-align: top;
	}
	.xans-product-relation .thumbnail {
	    padding: 0 7px;
	    margin: 0 0 10px;
	}
	.xans-product-relation .thumbnail img {
	    width: 100%;
	    border: 1px solid #ECECEC;
	}
	.xans-product-relation .information {
	    position: relative;
	    min-height: 10px;
	    margin: 7px 7px 0;
	}
	.xans-product-relation .name {
	    margin: 0 0 10px;
	    font-size: 13px;
	    line-height: 1.25;
	    word-wrap: break-word;
	}
	.xans-product-relation .name a {
	    color: #757575;
	}
	.xans-product-relation .price {
	    margin: 0 0 3px;
	    color: #000;
	    font-size: 13px;
	    line-height: 1.25em;
	}
	.xans-product-relation .strike {
	    text-decoration: line-through;
	}
	.xans-product-relation .strike {
	    font-weight: normal;
	    text-decoration: line-through;
	}
	.xans-product-relation .paginate {
	    padding: 0 0 14px;
	}
	.paginate.typeSwipe {
	    color: #757575;
	}
	.paginate.typeSwipe button.prev, .paginate.typeSwipe button.next {
	    width: 31px;
	    font-size: 15px;
	    line-height: 1.2em;
	    border: 0;
	    cursor: pointer;
	    background: url(http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/btn_prev.png) no-repeat 50% 50%;
	    background-size: 7px auto;
	}
	.paginate.typeSwipe .prev, .paginate.typeSwipe .next {
	    display: none;
	}
	.paginate.typeSwipe span {
	    color: #fff;
	    font-size: 0;
	    line-height: 0;
	}
	.paginate.typeSwipe button.circle {
	    margin: 0 3px 0 4px;
	    width: 12px;
	    height: 12px;
	    border: 0;
	    border-radius: 10px;
	    cursor: pointer;
	    background: rgba(0,0,0,0.2);
	}
	.paginate.typeSwipe button.circle.selected {
	    background: rgba(0,0,0,1);
	}
	.paginate.typeSwipe button.next {
	    background: url(http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/btn_next.png) no-repeat 50% 50%;
	    background-size: 7px auto;
	}
	.xans-layout-footerpackage {
	    font-size: 12px;
	    line-height: 1.6;
	    padding: 50px 0 0;
	    background: #fff;
	}
	.footerMenu {
	    padding: 10px 0;
	    text-align: center;
	    border-top: 1px solid #ddd;
	    border-bottom: 1px solid #ddd;
	}
	.footerMenu li:first-child {
	}
	.footerMenu li {
	    display: inline-block;
	    padding: 3px 7px;
	    font-size: 13px;
	}
	.f_link {
	    position: relative;
	    width: 100%;
	    overflow: hidden;
	    text-align: center;
	    margin: 0;
	    background: #f9f9f9;
	}
	.f_link ul {
	    font-size: 0;
	    border-top: 1px solid #ddd;
	    border-bottom: 1px solid #ddd;
	    margin-top: -1px;
	}
	.f_link li {
	    display: inline-block;
	    width: 24%;
	    text-align: center;
	}
	.f_link li:first-child a {
	    border-left: 0;
	}
	.f_link li a {
	    display: block;
	    border-left: 1px solid #ddd;
	    font-size: 12px;
	    padding: 9px 0;
	    vertical-align: middle;
	}
	.f_link li a img {
	    width: 22px;
	}
	.f_con {
	    position: relative;
	    width: 100%;
	    overflow: hidden;
	    text-align: center;
	    margin: 0;
	    border-bottom: 1px solid #ddd;
	}
	.f_con ul {
	    font-size: 0;
	}
	.f_con li:first-child {
	    border-left: 0;
	}
	.f_con li {
	    position: relative;
	    display: inline-block;
	    width: 49%;
	    height: 140px;
	    text-align: center;
	    border-left: 1px solid #ddd;
	    font-size: 12px;
	    padding: 20px 0;
	    vertical-align: top;
	}
	.f_con p {
	}
	.f_tit {
	    font-size: 12px;
	    font-weight: bold;
	    color: #000;
	    margin-bottom: 5px;
	}
	.f_tel {
	    font-size: 12px;
	    font-weight: bold;
	    color: #000;
	}
	.f_con_btn {
	    position: absolute;
	    bottom: 20px;
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	}
	.f_con_btn a {
	    display: block;
	    padding: 5px 10px;
	    border: 1px solid #ddd;
	    width: 70%;
	    margin: 0 auto;
	    background: #f9f9f9;
	}
	.f_con_btn a img {
	    width: 22px;
	}
	.footerSNS {
	    padding: 7px 0;
	    text-align: center;
	    border-bottom: 1px solid #ddd;
	}
	.footerSNS img {
	    height: 24px;
	    margin: 4px;
	}
	.footerInfo {
	    padding: 20px 0 10px;
	}
	.footerInfo li {
	    color: #888;
	    text-align: center;
	}
	.footerInfo strong {
	    color: #000;
	    font-weight: normal;
	    padding: 0 5px;
	}
}