.xans-member-findpasswd {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 20px 0;
}

.xans-member-findpasswd .findPw {
    width: 310px;
    margin: 0 auto;
}

.xans-member-findpasswd .findPw p {
    margin: 7px 0 0;
}

.xans-member-findpasswd .findPw strong {
    display: inline-block;
    margin: 0;
    padding: 0x;
    width: 120px;
    font-weight: normal;
}

.xans-member-findpasswd .findPw .member select {
    width: 177px;
}

.xans-member-findpasswd .findPw .check {
    margin-bottom: 30px;
    margin-left: 125px;
    color: #353535;
}

.xans-member-findpasswd .findPw input[type=radio], .xans-member-findpasswd .findPw input[type=checkbox] {
    width: 13px;
    height: 13px;
    margin: 0 3px 0 0;
    padding: 0;
    border: 0;
    vertical-align: -2px;
    *vertical-align: 2px;
}

.xans-member-findpasswd .findPw input {
    width: 170px;
    height: 18px;
    padding: 2px 2px 2px 3px;
    border: 1px solid #d9d9d9;
    color: #202020;
}

.xans-member-findpasswd .findPw .check label {
    margin: 0 5px 0 0;
}

.xans-member-findpasswd .findPw #mobile1 {
    width: 36px;
}

.xans-member-findpasswd .findPw #mobile2, .xans-member-findpasswd .findPw #mobile3 {
    width: 47px;
}

.ec-base-button {
    padding: 30px 0;
    text-align: center;
}

.ec-base-button:after {
    display: block;
    content: "";
    clear: both;
}


.b_center {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.b_full {
    width: 100%;
    font-size: 13px;
    margin: 5px 0;
}

.btnArea .black {
    border: 1px solid #000;
    background: #000;
    color: #fff;
    padding: 8px 0;
    width: 100%;
    display: block;
    text-align: center;
}

