.xans-member-findpasswdresult {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 20px 0;
    text-align: center;
}


@media screen and (max-width:1280px) {
    .xans-member-findpasswdresult .findPw {
        width: 500px;
        margin: 0 auto;
    }
}

@media screen and (max-width:479px) {
    .xans-member-findpasswdresult .findPw {
        width: 360px;
        margin: 0 auto;
    }
}

.xans-member-findpasswdresult .findPw .desc {
    margin: 20px 0 20px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.ec-base-box.typeMember.gMessage {
    border-width: 1px;
    border-color: #ddd;
}

.xans-member-findpasswdresult .findPw .ec-base-box {
    text-align: left;
}


.ec-base-box.typeMember {
    padding: 0;
}

.ec-base-box {
    padding: 20px;
    border: 1px solid #ddd;
}

.ec-base-box.typeMember .information {
    display: table;
    table-layout: fixed;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
}

.ec-base-box.typeMember .information > .title, .ec-base-box.typeMember .information > .thumbnail {
    display: table-cell;
    padding: 0 15px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
}

.ec-base-box.typeMember .information .description {
    display: table-cell;
    padding: 0 20px;
    width: auto;
    line-height: 1.5em;
    border-left: 1px solid #e8e8e8;
    vertical-align: middle;
}

.txtEm {
    color: #008bcc;
}

.xans-member-findpasswdresult {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 20px 0;
    text-align: center;
}

